body {
  width: 280px;
  background-color: rgb(255,243,184);
  margin-left: auto;
  margin-right: auto;

}

.ChofuStation {
  width: 280px; 
  height: 115px;
}

.selecter {
  background-color: coral;
}

.top {
  background-color: rgb(241, 9, 164);
  font-size: 12px;
  color: mediumblue;
  text-shadow: 10px 10px 10px white;
}

.main {

}

iframe {
  border: 1px solid black;
  width: 100%;
}

/* .map {
  width: 280px;
  height: 280px;
} */

.button {
  width: 120px;
  height: 100px;
  font-weight: bold;
  background-color: lightcoral;
  margin-bottom: 5px;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

