.button {
  width: 120px;
  height: 80px;
  font-weight: bold;
  background-color: lightcoral;
  margin-bottom: 5px;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.member:before, .member:after {
  before-top: 1px solid;
  content: "";
  width: 3em;
}
.member::before {
  margin-right: 1em;
}
.member:after {
  margin-left: 1em;
}

.weapper {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  background: tomato;
}
.container {
  display: flex;
}
.main {
  background: pink;
  width: 70%;
}
.side {
  background: orange;
  width: 30%;
}
footer {
background: plum;
}
